<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISOS Consultora en Normas ISO</title>
    <link rel="icon" href="./img/logo.png" type="image/x-icon">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="./styles/base.css">
</head>
<body>
    <header>
        <div class="header-background-lines">
            <img src="./img/lineas.png">
            <img src="./img/lineas.png">
        </div>
        <nav>
            <div class="logo">
                <img src="./img/logo.png">
            </div>
            <ul class="nav-links">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Beneficio</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            <div class="toggler-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>
    <div class="content-area">
        <h2>Content Area</h2>
    </div>
    <footer>

    </footer>

    <script src="./js/index.js"></script>
</body>
</html>